.admin--wrapper {
  background-color: #eceef1;
  height: calc(100vh - 60px);
  position: relative;
}

mat-card {
  width: 140px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.card-body button {
  width: 100% !important;
  margin-top: 10px;
}
.admin__options-cards {
  display: flex;
  gap: 10px;
}

mat-card:hover {
  transform: scale(1.05) !important;
}
.admin__greet {
  align-self: flex-start;
  position: absolute;
  top: 20px;
  left: 20px;
}
.admin__greet h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  color: #6d58c4;
  font-style: italic;
}
